{% load static %}

<!DOCTYPE html>
<html>

<head>
<title>Found Items</title>

<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<div class="navbar">
LostLink – Found Items
</div>

<div class="container">

<h2>Found Items</h2>

{% for item in items %}

<div class="card">

<h2>{{ item.item_name }}</h2>

<p><b>Description:</b> {{ item.description }}</p>

<p><b>Location Found:</b> {{ item.location_found }}</p>

<p><b>Date Found:</b> {{ item.date_found }}</p>

{% if item.image %}

<img src="{{ item.image.url }}" width="250">

{% endif %}

</div>

{% empty %}

<p>No found items available.</p>

{% endfor %}

<br>

<a class="btn" href="/">Back to Home</a>

</div>

</body>

</html>