{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Report Lost Item</h1>

<div class="form-container">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="form-grid">

<label>Item Name</label>
<input type="text" name="item_name" required>

<label>Description</label>
<textarea name="description" rows="4"></textarea>

<label>Location Lost</label>
<input type="text" name="location_lost">

<label>Date Lost</label>
<input type="date" name="date_lost">

<label>Reward</label>
<input type="number" name="reward">

<label>Upload Image</label>
<input type="file" name="image" id="imageInput">

</div>

<div class="form-button">
<button class="btn">Submit Report</button>
</div>

</form>

</div>

{% endblock %}