{% extends "base.html" %}

{% block content %}

<div class="form-page">

<div class="form-card">

<h2 class="form-title">Report Found Item</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="form-row">

<div class="form-field">
<label>Title</label>
{{ form.title }}
</div>

<div class="form-field">
<label>Category</label>
{{ form.category }}
</div>

</div>


<div class="form-field">
<label>Description</label>
{{ form.description }}
</div>


<div class="form-row">

<div class="form-field">
<label>Location</label>
{{ form.location }}
</div>

<div class="form-field">
<label>Date Found</label>
{{ form.date_found }}
</div>

</div>


<div class="form-field">
<label>Image</label>
{{ form.image }}
</div>


<button type="submit" class="submit-btn">
Submit Found Item
</button>
</form>

</div>

</div>

{% endblock %}